version: '3.8'

services:
  m1:
    image: ubuntu:22.04
    container_name: m1
    hostname: m1
    networks:
      - ubuntu_network
    stdin_open: true
    tty: true
    command: bash
    restart: unless-stopped

  m2:
    image: ubuntu:22.04
    container_name: m2
    hostname: m2
    networks:
      - ubuntu_network
    stdin_open: true
    tty: true
    command: bash
    restart: unless-stopped

  m3:
    image: ubuntu:22.04
    container_name: m3
    hostname: m3
    networks:
      - ubuntu_network
    stdin_open: true
    tty: true
    command: bash
    restart: unless-stopped

networks:
  ubuntu_network:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.19.0.0/16
